<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/mission">Mission Control</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
  </ul>
  <h3 class="text-muted">{{ APP_NAME }}</h3>
</div>

<div class="jumbotron">
  <h1>{{ APP_NAME }}</h1>
  <p class="lead">
    An organization powering and powered by {{ AUTHER.name }}.
  </p>
  <div class="btn-group">
    <a ng-href="#/about" class="btn btn-success">More about CUBE</a>
    <a ng-href="#/apply" class="btn btn-success">Apply for Access</a>
  </div>
</div>

<div class="row marketing">
  <h2>CUBE Satellites</h2>
  <button class="btn btn-info" ng-click="map.tooglePath('g26')">Toogle {{ map.pathes.g26.title }}</button>
  <button class="btn btn-info" ng-click="map.tooglePath('g11')">Toogle {{ map.pathes.g11.title }}</button>
  <button class="btn btn-info" ng-click="map.tooglePath('g19')">Toogle {{ map.pathes.g19.title }}</button>
  <hr />
  <leaflet defaults="map.defaults" paths="map.pathes" center="map.center" height="400px"></leaflet>
</div>

<div class="footer">
  <p>&copy;2014 <a href="{{ AUTHER.url }}" target="_blank" ng-bind="AUTHER.name"></a></p>
</div>
